<div class="publications">
  {% bibliography --group_by none --query @*[selected=true]* %}
</div>

<div style="width: 100px;height: 100px;">
	<script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=jTu9gFpIK7YaBLKynVCcd169yghRRfIQuVVOcv_1x0s"></script>
</div>